body{
  margin: 0;
  background-color: #003366;
  padding: 0;
}
.header{

  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 10%;
  font-size: 5vh;
  width: 100%;
  position: sticky;
  top: 0;
  
}

.header a{
  text-decoration: none;
  color: blueviolet;
}
.header button{
  background-color: blueviolet;
  transition-duration: 0.3s;
  color: white;
  height: 2.5vw;
  border-radius: 16px;
}
.header button:hover{
  background-color: white;
  color: black;
}

.header img{
  width: 4vw;
}


.content{
  display: flex;
  flex-direction: column;
}

.content .top{
  display: flex;
  background-image: url("../imgs/wedding.jpg");
  height: 100vh;
  max-width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  color: white;
}



.content .mid{
  display: flex;
  margin: 2vw;
  font-size: 2vw;
  color: white;   
}



.content .gallery{
  display: flex;
  justify-content: space-around;
  height: 100vh;
  align-items: center;
}
.content .gallery-img{
  width: 25vw;
  height: 40vh;
  
}



.content .bottom{
  background-color: #003366;
  display: flex;
  font-size: 3vh;
  height: 90%;
  color:white;
  align-items: flex-end;
  justify-content: space-evenly;
}
.content .bottom .left{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  justify-content: space-around;
}
.content .bottom .left .input-text{
  color: whitesmoke;
  height: 2rem;    
  width: 16rem;
  box-sizing: border-box;
  outline: 0;
  border: none;
  background-color: #003366;
  font-size: 16px;
  margin: 1px;
}
.content .bottom .input-text + label {
  display: flex;
  white-space: nowrap;
  width: 25%;
  border-top: 1px solid blueviolet;
  transition: width 0.4s ease;
  }
  .content .bottom .input-text:focus + label {
  width: 100%;
  }
  .content .bottom .input-text:hover + label {
  width: 100%;
  }

.content .bottom .left button{
  width: 20vw;
  align-self: center;
  height: 5vh;
  border-radius: 30px;
  border-color: blueviolet;
  background-color: blueviolet;
  outline: 0;
  color: whitesmoke;
  

}
.content .bottom .left .more-info{
  font-size: 1rem;
  color: grey;
}
.content .bottom .right{
  align-content: center;
  width: 50%;
  height: 100%;
}
.content .bottom .right iframe{
  height: 100%;
  width: 100%;
}